<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<h1>新しい記事を作成</h1>

<form method="POST">
    <p>タイトル：</p>
    <input type="text" name="title" required>

    <p>新しいカテゴリーを追加：</p>
    <input type="text" name="new_category">

  
    <p>カテゴリー（押下げて選択）：</p>
    <select name="category">
        <option value="">（選択してください）</option>
        {% for cat in categories %}
            <option value="{{ cat }}">{{ cat }}</option>
        {% endfor %}
    </select>
            
    <p>本文（Markdown）：</p>
    <textarea name="content" rows="20" required></textarea>

    <p><button type="submit">保存</button></p>
</form>

<p><a href="/">← 記事一覧に戻る</a></p>
